---
title: "Dr Agata Staniewicz"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.1"
  overlay_image: /assets/images/baby-cs2.jpg
  caption: "Baby C. siamensis in Mesangat Lake"
excerpt:
intro: 
  - excerpt: "Hi. I'm am Agata and I'm a zoologist specialising in crocodiles. I have a PhD from the University of Bristol, investigating acoustic communication in rare and threatened crocodiles and its use for population monitoring."
feature_row:
  - image_path: assets/images/agata1.jpg
    alt: "Baby Siamese crocodile in Mesangat Lake"
    title: "Fieldwork"
    excerpt: "Being interested in the life of wild crocodiles means a lot of tropical fieldwork. For my **MSc** I studied the ecology of endangered crocodiles in East Kalimantan, Indonesia. During my **PhD** I travelled to Borneo and Africa investigating crocodile communication."
  - image_path: assets/images/tomistoma1.jpg
    alt: "With baby Tomistoma"
    title: "Borneo"
    excerpt: "In 2011-2012 I studied the ecology of Tomistoma and Siamese crocodiles in **Mesangat Lake**. I spent over 10 months living on a raft in the middle of a wetland in Borneo. I have documented a lot of my day-to-day life here, in English and in Polish."
    url: "/blog/"
    btn_label: "Read More on the Blog"
    btn_class: "btn--primary"
  - image_path: assets/images/Landry.jpg
    title: "Africa"
    excerpt: "In 2018 my work has taken me to **Moukalaba Doudou National Park** in Gabon and **Taï National Park** in Côte d'Ivoire to study the African slender-snouted and dwarf crocodiles. More information on my daily life in the field is now available on the blog."
feature_row2:
  - image_path: assets/images/baby.jpg
    alt: "Mesangat Lake"
    title: "Mesangat Lake"
    excerpt: "You can find more about the Mesangat Lake project and its crocodiles: *Crocodylus siamensis* and *Tomistoma schlegelii*."
    url: "/Mesangat/"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row3:
  - image_path: assets/images/Agata-fieldworkfail.jpg
    alt: "Fieldworfail"
    title: "Fieldwork Fail"
    excerpt: "In 2015 I posted a story about one of my many Fieldwork Fails on Twitter, which was later featured in a [book](http://fieldworkfail.com/) by Jim Jourdane. You can read about the time I glued myself to a crocodile"
    url: "/glue/"
    btn_label: "here"
    btn_class: "btn--primary"
feature_row4:
  - image_path: assets/images/ECNM-2017.jpg
    alt: "ENCM 2017"
    title: "European Croc Networking Meeting"
    excerpt: "I'm one of the co-founders and organisers of the annual **European Croc Networking Meeting**. If you're based in Europe and interested in working with crocodiles, you can join the ECNM [Facebook Group](https://www.facebook.com/groups/1027921303960897/), and come to our next meeting."
    url: https://www.eurocrocnetwork.com/
    btn_label: "Official website"
    btn_class: "btn--primary"


---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="center" %}