---
title: "Dr Agata Staniewicz"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.1"
  overlay_image: /assets/images/fungus.jpg
  caption:
excerpt:
intro: 
  - excerpt: "Hi. I'm am Agata and I'm a zoologist interested in bioacoustics, behavioural ecology and conservation."
feature_row:
  - image_path: assets/images/agata1.jpg
    alt: "With baby croc"
    title: "Research"
    excerpt: "I'm currently a postdoc in the Behavioural Ecology Lab at Adam Mickiewicz University (Poland), working on acoustic communication in birds."
  - image_path: assets/images/Landry.jpg
    alt: "Africa"
    title: "PhD"
    excerpt: "I completed my PhD at the University of Bristol (UK) investigating acoustic communication in rare and threatened crocodiles in Southeast Asia and West Africa."
    url: "/research/"
    btn_label: "Read more"
    btn_class: "btn--primary"
  - image_path: assets/images/tomistoma1.jpg
    alt: "Baby Tomistoma"
    title: "MSc"
    excerpt: "During my MSc at the University of Bristol I studied the ecology of endangered crocodiles in Mesangat Lake, Indonesia."
feature_row2:
  - image_path: assets/images/Agata-fieldworkfail.jpg
    alt: "Fieldworkfail"
    title: "Fieldwork"
    excerpt: "While working with crocodiles I spent over 10 months living on a raft in the middle of a wetland in Borneo in 2010-2012. In 2018 my work has taken me to Moukalaba Doudou National Park in Gabon and Taï National Park in Côte d'Ivoire to study the African slender-snouted and dwarf crocodiles. I have documented a lot of my day-to-day life in the field, in English and in Polish on the blog."
    url: "/blog/"
    btn_label: "Read more"
    btn_class: "btn--primary"
feature_row3:
  - image_path: assets/images/baby.jpg
    alt: "Mesangat Lake"
    title: "Mesangat Lake"
    excerpt: "You can find more about the Mesangat Lake project and its crocodiles: *Crocodylus siamensis* and *Tomistoma schlegelii*."
    url: "/Mesangat/"
    btn_label: "Read more"
    btn_class: "btn--primary"
feature_row4:
  - image_path: assets/images/ECNM-2017.jpg
    alt: "ENCM 2017"
    title: "European Croc Networking Meeting"
    excerpt: "I'm one of the co-founders and organisers of the annual **European Croc Networking Meeting**. If you're based in Europe and interested in working with crocodiles, you can join the ECNM [Facebook Group](https://www.facebook.com/groups/1027921303960897/), and come to our next meeting."
    url: https://www.eurocrocnetwork.com/
    btn_label: "Official website"
    btn_class: "btn--primary"


---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="center" %}